*.class

# Ignore all hidden files, except this .gitignore file.
#.*
#!.sorting
#!.gitignore
#!.mavenrc

# Package Files #
*.jar
*.war
*.ear

*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

/target

*.db

# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm
## Directory-based project format
.idea/

## File-based project format
*.ipr
*.iws
*.iml

## Additional for IntelliJ
out/

# Spring configs
.springBeans
